/* Start mobile first design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background-color: #0d0c1a;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

#header {
  height: 10em;
}
.title-box {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.game-title {
  font-size: 2.5rem;
  text-align: center;
}
.volume-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.fa-volume-mute,
.fa-volume-up {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#volume-text {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
}
#content {
  position: relative;
  top: 2em;
}

#rounds-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  margin-right: 0.5rem;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.one {
  height: 12px;
  width: 12px;
  background-color: rgba(7, 108, 34, 0.87);
  visibility: hidden;
}
.two {
  height: 14px;
  width: 14px;
  background-color: rgba(12, 255, 8, 0.601);
  visibility: hidden;
}
.three {
  height: 16px;
  width: 16px;
  background-color: rgba(28, 221, 6, 0.864);
  visibility: hidden;
}
.four {
  height: 18px;
  width: 18px;
  background-color: rgba(243, 255, 8, 0.91);
  visibility: hidden;
}
.five {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 8, 8);
  visibility: hidden;
}

#score-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-title,
.machine-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.player-title {
  color: #19ccf0;
}

.machine-title {
  color: rgb(240, 8, 240);
}

.player-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}
.machine-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}

#game-messages {
  position: relative;
  top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 4em;
  text-align: center;
}

#message {
  font-size: 1.4rem;
  font-weight: 800;
  font-style: italic;
}
#reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.4em;
}

button#reset {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  background-color: rgb(2 131 242);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.45s;
}

button#reset:hover {
  background-color: rgba(2, 130, 242, 0.564);
}
.fa-robot {
  font-size: 1.8rem;
}

.reset-text {
  font-size: 1rem;
}

#buttons-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 4.5em;
}

.btn {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > * {
  font-size: 3rem;
  color: #0d0c1a;
}
.fa-solid {
  color: #ebb906;
}

#footer {
  width: 100vw;
  position: relative;
  top: 8em;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-weight: 100;
  font-size: 1.3rem;
}

.gh-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 0.3em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4 rem;
  cursor: pointer;
}

.gh-link.logo > * {
  font-size: 2rem;
}

/* End mobile first design */


@media (min-width:1024px) { 
  #game-messages {
    position: relative;
    top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em 4em;
    text-align: center;
  }
 }

 @media (min-width:1440px) { 
  #game-messages {
    height: 15em;
  }

  #footer{
    position: relative;
    bottom: 0;
  }
 }