/* Start mobile first design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #0d0c1a;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

#header {
  height: 25vh;
}
.title-box {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 2.5rem;
  text-align: center;
}
.volume-box {
  height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.fa-volume-mute,
.fa-volume-up {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#volume-text {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
}
#content {
  height: 70vh;
}

#rounds-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

#circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  margin-right: 0.5rem;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.one {
  height: 12px;
  width: 12px;
  background-color: rgba(7, 108, 34, 0.87);
  visibility: hidden;
}
.two {
  height: 14px;
  width: 14px;
  background-color: rgba(12, 255, 8, 0.601);
  visibility: hidden;
}
.three {
  height: 16px;
  width: 16px;
  background-color: rgba(28, 221, 6, 0.864);
  visibility: hidden;
}
.four {
  height: 18px;
  width: 18px;
  background-color: rgba(243, 255, 8, 0.91);
  visibility: hidden;
}
.five {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 8, 8);
  visibility: hidden;
}

#score-box {
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
}

.player-title,
.machine-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.player-title {
  color: #19ccf0;
}

.machine-title {
  color: rgb(240, 8, 240);
}

.player-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}
.machine-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}

#game-messages {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

#message {
  font-size: 1.4rem;
  font-weight: 800;
  font-style: italic;
}
#reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
}

button#reset {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(2 131 242);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color .45s;
}

button#reset:hover {
  background-color: rgba(2, 130, 242, 0.564);
}
.fa-robot {
  font-size: 1.8rem;
}

.reset-text {
  font-size: 1rem;
}

#buttons-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.btn {
  width: 70px;
  height: 70px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > * {
  color: #0d0c1a;
}
.fa-solid {
  color: #ebb906;
}

#footer {
  width: 100vw;
  height: 5vh;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-weight: 100;
  font-size: 1.3rem;
}

.gh-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 0.3rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4 rem;
  cursor: pointer;
}

.gh-link.logo > * {
  font-size: 2rem;
}

/* End mobile first design */

/* Start media queries */

@media (min-width: 481px) {
  .game-title{
    font-size: 2.6rem;
    width: 80vw;
  }
  #volume-text{
    font-size: 2rem;
  }

  #volume-logo{
    font-size: 3rem;
  }

  #info-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
  }

  #rounds-box, #score-box {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .round-title, .score-title {
    font-size: 1.8rem;
  }

  .player-title, .machine-title{
    font-size: 1.5rem;
  }

  #message {
    width: 80vw;
    font-size: 1.6rem;
  }

  button#reset{
    height: 85px;
    width: 85px;
  }
  .fa-robot {
    font-size: 2rem;
  }
  .reset-text {
    padding-top: 4px;
    font-size: 1.3rem;
  }

  .btn {
    height: 85px;
    width: 85px;
    font-size: 3.2rem;
  }

  .footer-text {
    font-size: 1.6rem;
  }

  .gh-link {
    font-size: 2rem;
  }

  .fa-github-alt::before{
    font-size: 2.8rem;
  }

  #footer {
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 641px) {
  .game-title{
    font-size: 4rem;
  }
  #volume-text{
    font-size: 3rem;
  }

  #volume-logo{
    font-size: 4rem;
  }

  #info-box{
    justify-content: space-evenly;
    margin: 2rem 8rem;
    flex: 1 1 0;
  }

  .volume-box {
    justify-content: center;
    align-items: center;
    gap:50px;
  }
  .round-title, .score-title {
    font-size: 2.5rem;
  }

  .player-title, .machine-title{
    font-size: 2rem;
  }

  #rounds-box {
    gap: 2.5rem;
  }

  .one {
    height: 15px;
    width: 15px;
  }
  .two {
    height: 19px;
    width: 19px;
  }
  .three {
    height: 23px;
    width: 23px;
  }
  .four {
    height: 27px;
    width: 27px;
  
  }
  .five {
    height: 31px;
    width: 31px;
  
  }

  #message {
    margin-top: 2rem;
    width: 80vw;
    font-size: 2rem;
  }

  button#reset{
    height: 100px;
    width: 100px;
  }
  .fa-robot {
    font-size: 2.4rem;
  }
  .reset-text {
    padding-top: 4px;
    font-size: 1.4rem;
  }

  .btn {
    height: 100px;
    width: 100px;
    font-size: 4rem;
  }

  .footer-text {
    font-size: 2rem;
  }

  .gh-link {
    font-size: 2.5rem;
  }

  .fa-github-alt::before{
    font-size: 4rem;
  }

  #footer {
    padding-bottom: 2rem;
  }
}

@media (min-width:1281px) { 
  body{

    display: flex;
  }
  .game-title{
    font-size: 4.3rem;
    width: 80vw;
  }
  #volume-text{
    font-size: 2.8rem;
  }

  #volume-logo{
    font-size: 4rem;
  }

  #info-box{
    justify-content: space-evenly;
    margin: 4rem 8rem;
    flex: 1 1 0;
  }

  .volume-box {
    justify-content: center;
    align-items: center;
    gap:50px;
  }
  .round-title, .score-title {
    font-size: 3rem;
  }

  .player-title, .machine-title{
    font-size: 2.5rem;
  }

  #message {
    width: 80vw;
    font-size: 2rem;
  }

  button#reset{
    height: 100px;
    width: 100px;
    margin-bottom: 2rem;
  }
  .fa-robot {
    font-size: 2.4rem;
  }
  .reset-text {
    padding-top: 4px;
    font-size: 1.4rem;
  }

  .btn {
    height: 100px;
    width: 100px;
    font-size: 4rem;
  }

  .footer-text {
    font-size: 1.9rem;
  }

  .gh-link {
    font-size: 2.4rem;
  }

  .fa-github-alt::before{
    font-size: 4rem;
  }

  #footer {
    padding-bottom: 1rem;
  }
 }
/* End media queries */