/* Start mobile first design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid white; */
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background-color: #0d0c1a;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#header {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title-box {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.game-title {
  font-size: 2rem;
  text-align: center;
}
.volume-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.fa-volume-mute,
.fa-volume-up {
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#volume-text {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
}
#content {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player-title,
.machine-title {
  text-align: right;
}

#rounds-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  margin-right: 0.5rem;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.one {
  height: 12px;
  width: 12px;
  background-color: rgba(7, 108, 34, 0.87);
  visibility: hidden;
}
.two {
  height: 14px;
  width: 14px;
  background-color: rgba(12, 255, 8, 0.601);
  visibility: hidden;
}
.three {
  height: 16px;
  width: 16px;
  background-color: rgba(28, 221, 6, 0.864);
  visibility: hidden;
}
.four {
  height: 18px;
  width: 18px;
  background-color: rgba(243, 255, 8, 0.91);
  visibility: hidden;
}
.five {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 8, 8);
  visibility: hidden;
}

#score-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-title,
.machine-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.player-title {
  color: #19ccf0;
}

.machine-title {
  color: rgb(240, 8, 240);
}

.player-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}
.machine-score {
  color: #ffffff;
  font-weight: 800;
  padding-left: 0.6rem;
}

#game-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#message {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 800;
  font-style: italic;
  min-height: 5.9375rem;
}
#reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#reset {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: rgb(2 131 242);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.45s;
}

button#reset:hover {
  background-color: rgba(2, 130, 242, 0.564);
}
.fa-robot {
  font-size: 1.5rem;
}

.reset-text {
  font-size: 1rem;
}

#buttons-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > * {
  font-size: 2.5rem;
  color: #0d0c1a;
}
.fa-solid {
  color: #ebb906;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0.5em;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}
.footer-text {
  font-weight: 100;
  font-size: 1.3rem;
}

.gh-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 0.3em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4 rem;
  cursor: pointer;
}

.gh-link.logo > * {
  font-size: 2rem;
}

/* End mobile first design */

@media only screen and (min-width: 768px) {

  .game-title {
    font-size: 2.5rem;
  }

  #volume-text, .fa-volume-mute, .fa-volume-up {
    font-size: 1.8rem;
  }

  .round-title, .score-title {
    font-size: 2rem;
  }

  .player-title, .machine-title {
    font-size: 1.8rem;
  }

  .one {
    height:18px;
    width:18px ;
  }

  .two {
    height:20px;
    width:20px ;
  }

  .three {
    height:22px;
    width:22px ;
  }

  .four {
    height:24px;
    width:24px ;
  }

  .five {
    height:26px;
    width:26px ;
  }

  #message {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  
  .game-title {
    font-size: 3rem;
  }

  #volume-text, .fa-volume-mute, .fa-volume-up {
    font-size: 2rem;
  }

  .round-title, .score-title {
    font-size: 2.5rem;
  }

  .player-title, .machine-title {
    font-size: 2rem;
  }

  .one {
    height:22px;
    width:22px ;
  }

  .two {
    height:24px;
    width:24px ;
  }

  .three {
    height:28px;
    width:28px ;
  }

  .four {
    height:30px;
    width:30px ;
  }

  .five {
    height:32px;
    width:32px ;
  }

  #message {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  
  .game-title {
    font-size: 4rem;
  }

  #volume-text, .fa-volume-mute, .fa-volume-up {
    font-size: 2.5rem;
  }

  .round-title, .score-title {
    font-size: 2.8rem;
  }

  .player-title, .machine-title {
    font-size: 2.5rem;
  }

  .one {
    height:26px;
    width:26px ;
  }

  .two {
    height:28px;
    width:28px ;
  }

  .three {
    height:30px;
    width:30px;
  }

  .four {
    height:32px;
    width:32px;
  }

  .five {
    height:34px;
    width:34px;
  }

  #message {
    font-size: 2rem;
  }

  button#reset, .btn {
    height: 6em;
    width: 6em;
  }

  .btn > * {
    font-size: 3.4rem;
  }

  .fa-robot {
    font-size: 2rem;
  }

  .reset-text {
    font-size: 1.26rem;
  }
}